services:
  apigateway:
    image: apigateway
    build:
      context: .
      dockerfile: ApiGateway/Dockerfile
    env_file:
      - .env # See .env.example for reference.
    ports:
      - "5000:8080"
    networks:
      - default
      - microservices

  # Unseal manually after starting so it can be used
  vault:
    image: hashicorp/vault
    container_name: bulls-vault
    cap_add:
      - IPC_LOCK
    volumes:
      - ./config.hcl:/vault/config/config.hcl:ro
      - ./vault_data:/vault/data
    ports:
      - "8200:8200"
    command: server
    networks:
      - default
      - microservices
      
  authentication-service-api:
    image: authentication-service-api
    build:
      context: .
      dockerfile: AuthenticationMicroservice/AuthenticationService.Api/Dockerfile
    depends_on:
      apigateway:
        condition: service_started
      authentication-db:
        condition: service_healthy
    networks:
      - microservices
  
  authentication-db:
    image: mcr.microsoft.com/azure-sql-edge:latest
    environment:
      MSSQL_SA_PASSWORD: "SuperSecret7!"
      ACCEPT_EULA: "Y"
    volumes:
      - authentication-data:/var/opt/mssql
    networks:
      - microservices
    healthcheck:
      test: [ "CMD-SHELL", "/opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P SuperSecret7! -Q \"SELECT 1\" > /dev/null || exit 1" ]
      interval: 5s
      timeout: 2s
      retries: 5
      start_period: 2s
        
  stock-service:
    image: stockservice
    build:
      context: .
      dockerfile: StockMicroservice/StockService.Api/Dockerfile
    ports:
      - "5001:8080"
    depends_on:
      apigateway:
        condition: service_started
      rmq:
        condition: service_healthy
      stock-db:
        condition: service_started
    networks:
      - default 
      - microservices
        
  stock-db:
    image: mcr.microsoft.com/azure-sql-edge:latest
    environment:
      MSSQL_SA_PASSWORD: "SuperSecret7!"
      ACCEPT_EULA: "Y"
    volumes:
      - stock-data:/var/opt/mssql
    networks:
      - microservices
         
  order-service:
    image: orderservice
    build:
      context: .
      dockerfile: OrderMicroservice/OrderService.Api/Dockerfile
    ports:
      - "5002:8080"
    depends_on:
      apigateway:
        condition: service_started
      rmq:
        condition: service_healthy
      order-db:
        condition: service_started
    networks:
      - default
      - microservices

  order-db:
    image: mcr.microsoft.com/azure-sql-edge:latest
    environment:
      MSSQL_SA_PASSWORD: "SuperSecret7!"
      ACCEPT_EULA: "Y"
    volumes:
      - order-data:/var/opt/mssql
    networks:
      - microservices
   
  payment-service:
    image: paymentservice
    build:
      context: .
      dockerfile: PaymentMicroservice/PaymentService.Api/Dockerfile
    depends_on:
      apigateway:
        condition: service_started
      rmq:
        condition: service_healthy
      payment-db:
        condition: service_started
    networks:
      - default
      - microservices

  payment-db:
    image: mcr.microsoft.com/azure-sql-edge:latest
    environment:
      MSSQL_SA_PASSWORD: "SuperSecret7!"
      ACCEPT_EULA: "Y"
    volumes:
      - payment-data:/var/opt/mssql
    networks:
      - microservices
  
  
  order-saga:
    build:
      context: .
      dockerfile: OrchestrationService/OrderSagaService/Dockerfile
    depends_on:
      rmq:
        condition: service_healthy
      order-service:
        condition: service_started
      stock-service:
        condition: service_started
      payment-service:
        condition: service_started
    networks:
      - microservices
        
  rmq:
    image: rabbitmq:3-management
    container_name: bulls-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "check_running" ]
      interval: 5s
      timeout: 10s
      retries: 5
    networks:
      - microservices
      - default
      
      
networks:
  microservices:
    internal: true

volumes:
  stock-data:
  order-data:
  payment-data:
  authentication-data: