services:
  apigateway:
    image: apigateway
    build:
      context: .
      dockerfile: ApiGateway/Dockerfile
    ports:
      - "5000:8080"
    networks:
      - default
      - microservices

  # Unseal manually after starting so it can be used
  vault:
    image: hashicorp/vault
    container_name: bulls-vault
    cap_add:
      - IPC_LOCK
    volumes:
      - ./config.hcl:/vault/config/config.hcl:ro
      - ./vault_data:/vault/data
    ports:
      - "8200:8200"
    command: server
    networks:
      - default
      - microservices
      
  authentication-service-api:
    image: authentication-service-api
    build:
      context: .
      dockerfile: AuthenticationMicroservice/AuthenticationService.Api/Dockerfile
    networks:
      - microservices
        
networks:
  microservices:
    internal: true